# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# For no leaf item drops 'null' or 'unused'
##########################################################################################################

blocks {
    # Something new. [default: [iron,null,188,153,128], [gold,null,252,238,75], [lapis,null,28,87,198], [redstone,minecraft:redstone#5#0#3,151,3,3], [diamond,null,119,206,251]]
    S:"Custom Blocks" <
        iron,null,188,153,128
        gold,null,252,238,75
        lapis,null,28,87,198
        redstone,minecraft:redstone#5#0#3,151,3,3
        diamond,null,119,206,251
     >
}


##########################################################################################################
# controls
#--------------------------------------------------------------------------------------------------------#
# Controls Generation of Islands
##########################################################################################################

controls {
    I:"(1:Amount) Chance that an Island Will Generate in Chunk"=150
    B:"Floating Islands Should Generate"=false
    I:"Largest Radius Islands Should Generate"=4
    I:"Smallest Radius Islands Should Generate"=1
}


##########################################################################################################
# drops
#--------------------------------------------------------------------------------------------------------#
# Controls Acorn Drop Chance
##########################################################################################################

drops {
    # (1:Amount) Chance of Acorn being dropped when leaves are broken [range: 1 ~ 2147483647, default: 3]
    I:"Acorn Drop Chance"=3
}


##########################################################################################################
# world gen
#--------------------------------------------------------------------------------------------------------#
# dimension, treeType, minGenHeight, maxGenHeight,spawnWeight, islandSurfaceBlock, islandFillerBlock. syntax is: dimInt#orename#minHeight,maxHeight#spawnWeight#modname:block,blockMeta,modname:block,blockMeta
##########################################################################################################

"world gen" {
    # Happy Birthday! [default: [0#iron#20,200#4#minecraft:grass,0,minecraft:dirt,0], [-1#redstone#20,100#4#minecraft:soul_sand,0,minecraft:netherrack,0]]
    S:"World Gen" <
        0#iron#20,200#4#minecraft:grass,0,minecraft:dirt,0
        -1#redstone#20,100#4#minecraft:soul_sand,0,minecraft:netherrack,0
     >
}


