# Configuration file

enabled {
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"bewitchment:planks_cypress"=true
    B:"bewitchment:planks_elder"=true
    B:"bewitchment:planks_juniper"=true
    B:"bewitchment:planks_yew"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypedark"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"environmentaltech:aethium"=true
    B:"environmentaltech:erodium"=true
    B:"environmentaltech:ionite"=true
    B:"environmentaltech:kyronite"=true
    B:"environmentaltech:lonsdaleite"=true
    B:"environmentaltech:pladium"=true
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=true
    B:"forestry:planks.fireproof.1"=true
    B:"sonarcore:reinforcedstonebrick"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


